.contact{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    border: none;

    form{
        padding: 3rem;
        background: $light-bg;
        flex: 1 1 40rem;
        border: none;
        h3{
            font-size: 3rem;
            padding-bottom: 1rem;
            color: $purple;
        }
        span{
            display: block;
            padding-bottom: 1rem;
            color: $blue;
            font-size: 1.6rem;
        }
        .box{
            width: 100%;
            background: none;
            border-bottom: $border;
            font-size: 1.6rem;
            color: $purple;
            text-transform: none;
            padding: .5rem 0;
            margin-bottom: 1rem;
            
        }
        textarea{
            height: 15rem;
            resize: none;
        }
    }
    .map{
        flex: 1 1 40rem;
        width: 100%;
    }
}