.heading{
    background: $purple;
    @include general();
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 76px;
    h3{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $white;
    }
    p{
        color: $white;
        font-size: 2rem;
        span{
            color: $blue;
        }
        a{
            color: $white;
            text-decoration: none;
            &:hover{
                color: $yellow;
            }
        }
    }
}
.title{
    @include general();
    justify-content: space-between;
    margin-bottom: 3rem;
    border-bottom: $border;
    padding-bottom: 1.5rem;
    span{
        font-size: 2.5rem;
        color: $purple;
    }
    a{
        font-size: 1.5rem;
        color: $blue;
        text-decoration: none;
        &:hover{
            color: $purple;
        }
    }
}
.category .box-container{
    @include grid(16rem);
    width: 100%;
    text-decoration: none;
    .box{
        padding: 2rem;
        border: $border;
        border-radius: 10px;
        text-align: center;
        text-decoration: none;
        background: $white;
        //width: 100%;
        &:hover{
            background: $purple;
            img{
                filter: invert(1);
            }
            h3{
                color: $white;
                text-decoration: none;
            }
        }
        img{
            height: 6rem;
            margin-bottom: 1rem;
        }
        h3{
            font-size: 1.7rem;
            color: $purple;
            text-decoration: none
        }
    }
}
.products .box-container{
    @include grid(26rem);
    .box{
        position: relative;
        background: $white2;
        overflow: hidden;
        &:hover{
            .image img{
                transform: scale(1.2);
            }
            .icons{
                top: 0;
            }
        }
    }
}